@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event {
    color: #F53F7B;
    font-family: 'Aclonica';
}

.my {
    color: #4862C4;
    font-family: 'Aclonica';
}

.titre1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.custom-form {
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    margin: auto;
}

/* Styles pour les groupes de formulaire */
.custom-form-group {
    margin-bottom: 20px;
}

/* Styles pour les labels personnalisés */
.custom-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Styles pour les entrées de formulaire personnalisées */
.custom-input {
    border: 2px solid #0a0a0a;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
}

/* Styles pour le bouton personnalisé */
.custom-button {
    background-color: #F53F7B;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.custom-button:hover {
    background-color: #4862C4;
}

/* Styles pour le responsive */
@media (max-width: 768px) {
    .d-md-flex {
        display: none;
    }
}
